
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.purple{
    background-color: purple;
}
.size{
    font-size: 30px;
}
button{
    height : 30px;
    width: 50px;
}

.client{
    padding : 20px;
    background-color: red;
    border: 10px solid #DDD;
    margin: 39px;
    overflow: scroll;
}