:root{
    --main-color: #F00;
    --main-transition: all .5s ease-in-out;
}
*{
    box-sizing: border-box;
}
/* img hover effect 13 */
.img13{
    height: 300px;
    width: 500px;
    margin: 100px auto;
    position: relative;
    overflow: hidden;
    border: 2px solid #F00;
    transition: var(--main-transition);
    z-index: 3;
}
.img13:hover img{
    opacity: .5;
}
.img13:hover h3{
    transform: translateY(0);
}
.img13 img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left:0;
    transition: var(--main-transition);
}
.img13 h3{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    color: red;
    border-top: 2px solid ;
    border-right: 2px solid ;
    padding: 5px 20px;
    margin: 0;
    transform: translateY(100%);
    transition: var(--main-transition);
}
/* end img hover effect 13 */
/* using calc */
.hover-calc{
    height: 300px;
    width: 500px;
    margin: 100px auto;
    position: relative;
}
.hover-calc:hover img{
    opacity: 1;
}
.hover-calc:hover .title::after{
    width: calc(100% + 5px)
}
.hover-calc img{
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    opacity: .5;
    transition: .5s ease-in-out;
}
.hover-calc .title{
    position: absolute;
    left: 0;
    bottom: 60px;
}
.hover-calc .title h3{
    color: white;
    padding: 10px 15px;
    position: relative;
    font-size: 20px;
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: turquoise;
}
.hover-calc .title::after{
    content: '';
    transition: .5s ease-in-out;
    color: white;
    background-color: white;
    position: absolute;
    z-index: 0;
    width: 0;
    height: calc(100% + 10px);
    left: 0;
    bottom: -5px;
}
/* Create Custom Radio With Transform Animation */
.z-radio{
    margin: 20px;
}
.z-radio input{
    appearance: none;
}
.z-radio input:checked + label::after{
    transform: translateY(-50%) scale(1);
}
.z-radio label{
    position: relative;
    cursor: pointer;
    padding-left: 30px;
    font-weight: bold;
    color:var(--main-color);
}
.z-radio label::before{
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: var(--main-color);
    border: 1px solid #5A5A5A;
}
.z-radio label::after{
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50px;
    position: absolute;
    top: 50%;
    left: 4px;
    background-color: #E91E63;
    border: 1px solid #5A5A5A;
    transform: translateY(-50%) scale(0);
    transition: all .4s ease-in-out;
}
/* Create Custom check With Transform Animation */
.chekboxs div input:checked + label::after{
    /* transform: translateY(-50%) scale(1);
    border-radius: 0; */
    animation: rotat1 .4s 2 ease-in-out;
    animation-direction: alternate-reverse;
    animation-fill-mode: forwards;
}
.chekboxs div {
    margin-top: 20px;
}
.chekboxs div input{
    appearance: none;/*kat7ayd moraba3 dyal checkbox */
}
.chekboxs div  label{
    position: relative;
    cursor: pointer;
    padding-left: 30px;
    font-weight: bold;
    color:#555;
}
.chekboxs div  label::before{
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: var(--main-color);
    border: 1px solid #5A5A5A;
}
.chekboxs div  label::after{
    content: "\f00c";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    width: 21px;
    height: 21px;
    text-align: center;
    line-height: 21px;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: #E91E63;
    color: white;
    transform: translateY(-50%) scale(0) rotate(0deg);
    border-radius: 50%;
    transition: all .4s ease-in-out;
}
@keyframes rotat{
    0%{
        transform: translateY(-50%) scale(0) rotate(0deg);
        border-radius: 50%;
    }
    25%{
        transform: translateY(-50%) scale(.25) rotate(120deg);
        border-radius: 40%;
    }
    50%{
        transform: translateY(-50%) scale(.5) rotate(240deg);
        border-radius: 40%;
    }
    75%{
        transform: translateY(-50%) scale(.75) rotate(160deg);
        border-radius: 30%;
    }
    90%{
        transform: translateY(-50%) scale(.75) rotate(300deg);
        border-radius: 30%;
    }
    100%{
        transform: translateY(-50%) scale(1) rotate(360deg);
        border-radius: 0;
    }
}
@keyframes rotat1{
    from{
        transform: translateY(-50%) scale(0) rotate(0deg);
        border-radius: 50%;
    }
    to{
        transform: translateY(-50%) scale(1) rotate(360deg);
        border-radius: 0;
    }
}

/* Change Website Color Theme With CSS Variables */

.switch-color{
    list-style: none;
    padding: 0;
    margin: 20px;
    position: absolute;
    top: 0;
    left: 300px;
}
.switch-color li {
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 20px;
    border-radius: 50%;
    border: 1px solid #FFF;
    transition: all .5s ease-in-out;

}
.switch-color li.active{
    transform: scale(1.3);
}
.switch-color li:hover{
    transform: scale(1.3);
}

/*===============================================*/
.spiner{
    background-color: aqua;
    width: 500px;
    height:500px;
    margin: 100px;
    padding: 100px;
    position: relative;
}
.spiner span{
    position: absolute;
    border: 5px solid transparent;
    border-top-color: tomato;
    border-radius: 50%;
    display: block;
    transform: rotate(0deg);
    animation: spiner linear infinite;
}
.spiner span.one{
    animation-duration: 1.85s;
    top:50px;
    left: 50px;
    width: 50px;
    height: 50px;
}
.spiner span.two{
    animation-duration: 1.95s;
    animation-direction:  reverse;
    top:38px;
    left: 38px;
    width: 75px;
    height: 75px;
}
.spiner span.three{
    animation-duration: 2.05s;
    top:25px;
    left: 25px;
    width: 100px;
    height: 100px;
}
@keyframes spiner{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
/* Create Spinner Loading With Background and Many Styles */
.spinnerOne{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 50px;
    border: 5px solid #FFF;
    border-top-color: #F00;
    border-bottom-color: #F00;
    animation: spinerOne 1.5s linear infinite;
    background-color: gray;
    position: relative;
}
.spinnerOne::after{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 80px;
    height: 80px;
    border: 5px solid blue;
    border-radius: 50%;

}
@keyframes spinerOne{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

/* ================================================== */

.fil-border{
    height: 60vh;
    margin: 40px;
    position: relative;
}
.fil-border:hover span.eerste,
.fil-border:hover span.derde{
    transform: scaleX(1);
}
.fil-border:hover span.eerste{
    transition-delay: 0s;
}
.fil-border:hover span.tweede{
    transition-delay: .3s;
}
.fil-border:hover span.derde{
    transition-delay: .6s;
}
.fil-border:hover span.vierde{
    transition-delay: .9s;
}
.fil-border:hover span.tweede,
.fil-border:hover span.vierde{
    transform: scaleY(1);
}


.fil-border img{
    height: 100%;
    width: 100%;
    transition: all .2s ease-in-out;
    transition-delay: .1s;
}
.fil-border:hover img{
    transition-delay: 1.2s;
    opacity: .1;
}
.fil-border span{
    content: '';
    position: absolute;
    background-color: #F00;
    transition: all .3s ease-in-out;
}
.fil-border h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    opacity: 0;
    transition-duration: .3s;
    transition-delay: 0s;
}
.fil-border:hover h3{
    transition-delay: 1.3s;
    opacity: 1;
}
.fil-border span.eerste,
.fil-border span.derde{
    left: 0;
    width: 100%;
    height: 5px;
    transform: scaleX(0);
}
.fil-border span.eerste{
    top: 0;
    transform-origin: right;
    transition-delay: 1.3s;
}

.fil-border span.tweede,
.fil-border span.vierde{
    top: 0;
    height: 100%;
    width: 5px;
    transform: scaleY(0);
}
.fil-border span.tweede{
    left: 0;
    transform-origin: top;
    transition-delay: 1s;
}
.fil-border span.derde{
    bottom: 0;
    transform-origin: left;
    transition-delay: .7s;
}
.fil-border span.vierde{
    right: 0;
    transform-origin: bottom;
    transition-delay: .4s;
}

.bar{
    height: 50px;
    width: 50px;
    background-color: #F00;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.burger span{
    width: 80%;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    transition: all .5s ease-in-out;
}
.burger span:first-of-type{
    top: 20%
}
.burger span:nth-of-type(2){
    transform: scale(1);
}
.burger span:last-of-type{
    top: 80%
}


.burger span.active:first-of-type{
    transform: translateY(-50%) rotate(45deg);
    top: 50%;
}
.burger span.active:nth-of-type(2){
    transform: scale(0);
}
.burger span.active:last-of-type{
    transform: translateY(-50%) rotate(-45deg);
    top: 50%;
}


/* ================================================================== */
.text-fil-efect ul{
    list-style: none;
    display: flex;
    background-color: #333;
    padding: 50px;
    font-family: tahoma,Geneva;
}
.text-fil-efect ul li{
    margin-right: 20px;
}
.text-fil-efect ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, .5);
    position: relative;
}
.text-fil-efect ul li a:hover::before{
    transform: scale(1);
}
.text-fil-efect ul li a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #E91E63;
    transform: scale(0);
    transform-origin: left;
    transition: all .5s ease-in-out
}
.text-fil-efect ul li a:hover::after{
    width: 100%;
}
.text-fil-efect ul li a::after{
    content: attr(data-text);
    white-space: nowrap;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 0%;
    color:white;
    transition: all .5s ease-in-out;
}