/*last videos

    font face
    CSS Web Safe Fonts
    https://www.w3schools.com/cssref/css_websafe_fonts.asp

    us google font
    https://fonts.google.com/?selection.family=Roboto:wght@100
*/

/* 
    creating your own font is not a good idea

    create my own font face: font family
    fonts: TTF OTF WOFF WOFF2 SVG ...

    @font-face{
        font-family: name;
        font-weight: ;
        font-style: ;
        src: url('path.tff') path : link or file location;
        src: url('path.otf')...
    }
*/


/* ================================== */
/* 
    bda dima bl mobile 
    Media Queries
    @media screen and  (min-with: 700px){

    }

    مواقع مهمة

https://stackoverflow.com/questions/16443380/common-css-media-queries-break-points

https://screensiz.es/phone

https://css-tricks.com/snippets/css/media-queries-for-standard-devices/

https://scotch.io/posts

https://responsivedesign.is/develop/browser-feature-support/media-queries-for-common-device-breakpoints/

https://gist.github.com/hs0ucy/3762901

*/

/* //+========================================================================= */

/* repeating gradients  kaykhdomo fblast image

    loon ghadi ytdaraj khatiyan mn color1 wydoz m3a color2,3... 7tal colorn

    color xx% or xxpx katkhtar fin yabda tadaroj
    to direction : left top right bottom
    deg

    linear-gradient(to left bottom,color1 22%,color2,color3....colorn)
        
    =======

    radial-gradient() katdir tadaroj bdaira
*/
.gradients{
    height: 500px;
    width: 500px;
    margin: 50px auto;
    /* background-image: linear-gradient(to left top,red 10%,green,orange); */
    /* background-image: radial-gradient(red 50%,green); */

    /* background-image: repeating-radial-gradient(red,red 10px,blue 10px,blue 20px); */

    background-image: repeating-linear-gradient(to top right,red,red 10px,blue 10px,blue 20px);

}